/*Define back ground gradient color*/
body{

}

.cs-input{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cs-img{
  height: 300px;
  width: 100%;
  margin: 15px;
  display: inline-block;
}

.cs-btngrp{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cs-gifbtn{
  display: inline-block;
}


/*Change width and background for footer section*/
.footer{
	width: 100%;
	background-color: #1c1e22;
	padding-top: 5px;
}




